<!doctype HTML>
<html lang = "en">

<html>
    <head>
        <link rel = "stylesheet" href = "css/style.css"

        <ul>
            <ul style = list-style: none;>
            <li><a href = "about.asp">About</a></li>
            <li><a href = "contact.asp">Contact</a></li>
            <li class = "Links">
                <a href = "javascript:void(0)" class = "dropbtn">Links</a>
                <div class = "links-content">
                    <a href = "https://www.google.com/">Google</a>
                    <a href = "http://www.minedminds.org/">Mined Minds</a>
                    <a href = "https://stackoverflow.com/">Stack Overflow</a>
                </div>
            </li>
        </ul>
    </head>

    <body>
        The amount of change you have is <%= coins_given_to_customer %>.
    </body>

</html>